In [2]:
from scipy import stats
from scipy.stats import norm

# **1. The time required for servicing transmissions is normally distributed with m = 45 minutes and s = 8 minutes. The service manager plans to have work begin on the transmission of a customer’s car 10 minutes after the car is dropped off and the customer is told that the car will be ready within 1 hour from drop-off. What is the probability that the service manager cannot meet his commitment?**

A. 0.3875

B. 0.2676

C. 0.5

D. 0.6987

In [3]:
# Find Z-Score at X=50, Z=(X-µ) / σ

Z= (50-45)/8
Z

0.625

In [4]:
# Find probability P(X>50)

1-stats.norm.cdf(abs(Z))

0.26598552904870054

In [5]:
# Find probability P(X<=50) , p_value = stats.norm.cdf(abs(z_score))

p_value = stats.norm.cdf(abs(Z))
p_value

0.7340144709512995

In [6]:
# P(X>50) = 1 - P(X<=50)

1-0.734

0.266

#  Ans=**B. 0.2676**

# **2. The current age (in years) of 400 clerical employees at an insurance claims processing center is normally distributed with mean m = 38 and Standard deviation s =6. For each statement below, please specify True/False. If false, briefly explain why.**


*   More employees at the processing center are older than 44 than between 38 and 44

In [7]:
# A) More employee at the processing center are older than 44th

In [8]:
# p(X>44);  Employees older than 44 yrs of age

1-stats.norm.cdf(44,loc=38,scale=6)

0.15865525393145707

In [9]:
#p(38<X<44); Employees between 38 to 44 yrs of age

stats.norm.cdf(44,loc=38,scale=6)-stats.norm.cdf(38,loc=38,scale=6)

0.3413447460685429

In [10]:
# B)  A training program for employees under the age of 30 at the

In [11]:
# P(X<30); Employees under 30 yrs of age

stats.norm.cdf(30, loc=38,scale=6)

0.09121121972586788

In [12]:
# No. of employees attending training program from 400 nos. is

400*stats.norm.cdf(30,loc=38,scale=6)

36.484487890347154

# **4. Let X ~ N(100, 202). Find two values, a and b, symmetric about the mean, such that the probability of the random variable taking a value between them is 0.99.**

A. 90.5, 105.9

B. 80.2, 119.8

C. 22, 78

D. 48.5, 151.5

E. 90.1, 109.9

In [13]:
from scipy import stats
from scipy.stats import norm

In [14]:
stats.norm.interval(0.99,100,20)

(48.48341392902199, 151.516586070978)

#Ans= **D.48.5, 151.5**

# **5. Consider a company that has two different divisions. The annual profits from the two divisions are independent and have distributions Profit1 ~ N(5, 3^2) and Profit2 ~ N(7, 4^2) respectively. Both the profits are in Million Dollar. Answer the following questions about the total profit of the company in Rupees. Assume that 1 Dollar = Rs. 45 **



*  ** A. Specify a Rupee range (centered on the mean) such that it contains 95% probability for the annual profit of the company**.

Profit1 + Profit2 = N(5, 3^2) + N(7, 4^2)

Annual Profit = N(12, 5^2)

In [18]:
from scipy import stats as st

In [20]:
45*abs(12 - st.norm.ppf(0.975)*5)

99.00810347848788

In [21]:
45*abs(12 + st.norm.ppf(0.975)*5)

980.9918965215121

**B. Specify the 5th percentile of profit (in Rupees) for the company**

In [22]:
45*abs(12 + st.norm.ppf(0.05)*5)

169.90793393591858